<!DOCTYPE html>
<html lang="en">
<head>
  <title>THE JOKER</title>
  <link rel = "stylesheet" href = '/stylesheets/style.css'/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">

</head>
<body>
  <section>
    <div class = "top">
      <h1>Must Read Collections</h1>
      <p>Check out what’s new on DC UNIVERSE INFINITE and explore our catalog of over 25,000 comics and graphic novels
        from DC, Vertigo, DC Black Label and Milestone Media!</p>
    </div>

    <div class="comics">
      <a href="/" class = "bookmarks"> HOME PAGE </a>
      <a href="/comic1" class = "bookmarks"> Superman VS. Shazam </a>
      <a href="/comic2" class = "bookmarks"> The Joker </a>
      <a href="/comic3" class = "bookmarks"> Wonder Woman </a>
      <a href="/comic4" class = "bookmarks"> Fallen Angel </a>
      <a href="/comic5" class = "bookmarks"> Red Hood : Outlaw </a>
    </div>

    <div class="row">
        <div class="column photo" id="Comic2">
            <img src="https://www.dccomics.com/sites/default/files/styles/covers192x291/public/comic-covers/2021/03/JOKER_01_603d34209aaab7.27418066.jpg" />
        </div>
        <div class="column main">
            <h2>THE JOKER</h2>
            <p>Following the events of Infinite Frontier #1, the Joker is the most wanted man in the world! But the Clown Prince of Crime is several steps ahead of law enforcement—and he’s on the run overseas. James Gordon, facing retirement, realizes this is the manhunt of his life and the last piece of a storied career…but what mysterious and deadly forces are also in pursuit of the Joker?</p>
            <p>And in the backup story, following the events of the smash hit Punchline #1, DC’s most controversial new villain navigates the infrastructure of Blackgate Penitentiary. While on the outside, Harper Row takes up the mantle of Bluebird to stop her brother from falling under Punchline’s influence..</p>
        </div>
    </div>

    </section>
    </body>
    </html>
    