<!DOCTYPE html>
<html lang="en">
<head>
  <title>DC-Comics</title>
  <link rel = "stylesheet" href = '/stylesheets/style.css'/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lora&display=swap" rel="stylesheet">

</head>
<body>
  <section>
    <div class = "top">
      <h1>Must Read Collections</h1>
      <p>Check out what’s new on DC UNIVERSE INFINITE and explore our catalog of over 25,000 comics and graphic novels
        from DC, Vertigo, DC Black Label and Milestone Media!</p>
    </div>

     <div class="comics">
      <a href="/" class = "bookmarks"> HOME PAGE </a>
      <a href="/comic1" class = "bookmarks"> Superman VS. Shazam </a>
      <a href="/comic2" class = "bookmarks"> The Joker </a>
      <a href="/comic3" class = "bookmarks"> Wonder Woman </a>
      <a href="/comic4" class = "bookmarks"> Fallen Angel </a>
      <a href="/comic5" class = "bookmarks"> Red Hood : Outlaw </a>
    </div>
    <header>
      <img src = "https://coliseumofcomics.com/wp-content/uploads/2014/12/DC-Banner1-e1420485607984.jpg" width = "100%" />
    </header>
  </section>
</body>
</html>
